<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Привет, <%= @user.buyer_info.user.name %> <%= @user.buyer_info.user.surname %> </h1>
    <p>
    Ваша заявка на аренду товара "<%= @user.product.name %>" из салона "<%= @user.product.salon.name %>" была отменена!
 </p>
  </body>
</html>
