<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
 <h1>Добро пожаловать на DressRental. </h1>
    <p>
    Вы же не забыли вернуть товар в положенный срок и в том же виде, в каком он попал к вам в руки? :(
    </p>
    <h3> Мы очень надеемся, что нет!</h3>
    <p>
      Если эти условия не будут выполнены, то ваш арендодатель <%= @user.product.salon.seller_info.user.name%> <%= @user.product.salon.seller_info.user.surname%> имеет полное право не возращать залог. Нам не нужны проблемы, как и вам. 
    </p>
    <p> Давайте останемся друзьями с вами до конца! </p>
    <p>С любовью, DressRental!</p>
  </body>
</html>
