<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Добро пожаловать, <%= @user.name %> <%= @user.surname %></h1>
    <h2>
       Ваша регистрация была окончена! <br>
    </h2>
    <p>
      Весь функционал теперь будет вам доступен!
      Но для начала вам нужно войти в ваш аккаунт :)
      Спасибо, что выбрали нас.
      С лучшеми пожеланиями, DressRental!
    </p>
  </body>
</html>
