<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.name %> <%= @user.surname %></h1>
    <h2>
       You registration is confirmed! <br>
    </h2>
    <p>
      Full functionality is available to you!
      But first, you need to sign in to your account. 
      Thank you for choosing us. 
      Sincerely your DressRental!
    </p>
  </body>
</html>