<div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info">
                    <img class="rounded-circle" src="https://labprestige.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"> <%= comment.user_name %> <%= comment.user_surname %></span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text"><%= comment.message %></p>
                    </div>
                </div>
            </div>
