  <div class="container mt-2 mb-2">
        <div class="d-flex flex-column col-md-8">
            <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white px-4">
                <div class="commented-section mt-2 ">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <h5 class="mr-2"><%= comment.user_name %> <%= comment.user_surname %></h5>
                    </div>
                    <div class="comment-text-sm"><span><%= comment.message %></span></div>
                </div>

            </div>
        </div>
    </div>
