<%= form_with model: [@product, @product.comments.build] do |form| %>
    <p>
    <%= form.label :message %><br>
    <%= form.text_area :message %>
    </p>
    <p>
    <%= form.submit class:"btn" %>
    </p>
    <p>
</p>

    <% end %>
