<div class="col-2">
  <div class="list-group">
    <%= link_to t('seller_menu.salons'),  salon_menu_path , class: "list-group-item list-group-item-action" %>
    <%= link_to t('seller_menu.products'), product_menu_path , class: "list-group-item list-group-item-action" %>
    <%= link_to t('seller_menu.rentals'), rentals_path , class: "list-group-item list-group-item-action" %>
  </div>
</div>
