<div class="col-2">
  <div class="list-group">
    <%= link_to 'Profile',  edit_user_registration_path , class: "list-group-item list-group-item-action" %>
    <%= link_to 'Salons',  salon_menu_path , class: "list-group-item list-group-item-action" %>
    <%= link_to 'Products', product_menu_path , class: "list-group-item list-group-item-action" %>
    <%= link_to 'Rental', rentals_path , class: "list-group-item list-group-item-action" %>
  </div>
</div>
