// Place all the styles related to the salons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.f{
    margin-bottom: 190px;
}
.image-salon{
    height: 370px;
}
.comment{
    margin-top: 20px;
    padding: 0px;
    color: #100f09;
    font-size: 30px;
    text-transform: uppercase;
}
.salon-name{
    color: #100f09;
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
}
.salon-address{
    margin: 10px;
    font-size: 19px;
    color: #02010194;
}
