<% if @role == 'Seller' %>
    <p>Добро пожаловать <%= @email %>!</p>

    <p>Ваша заявка на регистрацию была принята! Ожидайте подтверждения вашего аккаунта!</p>

    <p>Спасибо, что выбрали нас. <br>С уважением, DressRental</p>
<% else %>
    <p>Добро пожаловать <%= @email %>!</p>

<p>Вы можете активировать свой аккаунт перейдя по ссылке ниже:</p>

<p><%= link_to "Подтвердить аккаунт", confirmation_url(@resource, confirmation_token: @token) %></p>

<p>С уважением, DressRental</p>

<% end %>
