
<p>Добро пожаловать <%= @email %>!</p>

<p>Вы можете активировать свой аккаунт перейдя по ссылке ниже:</p>

<p><%= link_to "Подтвердить аккаунт", confirmation_url(@resource, confirmation_token: @token) %></p>

<p>С уважением, DressRental</p>
